.container {
}

.selectTitle {
  margin: 30px 0px;
  text-align:center;
}

.item {
  display: flex;
  justify-content: space-evenly;
  align-self: start;
  gap: 10px;
}

.items {
  /* border: 5px solid #bbb;
  border-radius: 5px; */
  width: 500px;
  height: 600px;
  position: relative;
  background-size: cover !important;
}

.item:nth-child(1) {
  background: url("/public/Ajani\ Bolaji.jpeg");
}
.item:nth-child(2) {
  background: url("/public/flex1.jpg");
}
.item:nth-child(3) {
  background: url("/public/Toun.jpeg");
}

.title {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 40px;
  font-weight: bold;
}

.item:hover .title {
  color: rgb(153, 130, 104);
}
@media only screen and (max-width: 896px) and (min-width: 360px){
 .container{
    display: block;
    align-items: center;
    justify-content: center;
 }
 .items{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content:center;
 }
 .item{
 transform: scale(0.8);
 -webkit-transform: scale(0.8);
 -moz-transform: scale(0.8);
 -ms-transform: scale(0.8);
 -o-transform: scale(0.8);
}
 .title{
  font-size: 28px;
 }
 }