
.container{
  display: flex;
  flex-direction: column;
  margin:10px auto;
  height: 70vh;
  justify-content: center;
  align-items: center;
}

.title{
display: flex;
flex-direction: column;
}
.text{
   font-weight: 600;
   font-size: 3.8rem;
}
.secondaryText{
    display: flex;
    flex-direction: column;
    text-align:center;
    font-size: 18px;
}
.desc{
    margin: 20px auto;
}
.stats{
   width: 100%; 
   display: flex;
   justify-content: space-between;
   margin: 20px 10px;
   
   padding: 20px;
}
.statText{
    font-size: 1.5rem;
    text-align: center;
    border: 2px solid green;
    padding: 20px;
    color: orange;
    border-radius: 8px;
}
.secondaryTest{
    display: flex;
    flex-direction: column;
    text-align:center;
    
}

@media only screen and (max-width: 896px) and (min-width: 360px) {
  .container {
    flex-direction:column;
   align-items: center;
  
   height: max-content;
  }
   .title{
      display: block;
       margin-top: 30px;
    }
    .text{
        font-size: 38px;
        text-align: center;
        width: 100%;
        margin: 20px auto;
    }
    .desc{
        margin: 20px auto;
        text-align: left;
        width: 100%;
    }
    .secondaryText{
      font-size: 20px;
      text-align: justify;
      margin: 20px auto;
    }
    .stats{
        display: block;
        
        padding: 10px;
    }
    .statText{
        margin: 10px auto;
        gap: 1rem;
    }
  }
