.container {
}

.selectTitle {
  margin: 30px 0px;
  text-align:center;
}

.items {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}

.item {
  border: 5px solid #bbb;
  border-radius: 5px;
  width: 400px;
  height: 400px;
  position: relative;
  color: 
  #bb8a0d;
  background-size: cover !important;
}

.item:nth-child(1) {
  background: url("/BreedStore.png");
}
.item:nth-child(2) {
  background: url("/BreedHm.png");
}
.item:nth-child(3) {
  background: url("/learnly.png");
}

.title {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 30px;
  font-weight: bold;
}

.item:hover .title {
  color: rgb(11, 7, 127);
}
@media only screen and (max-width: 896px) and (min-width: 360px){
 .container{
    display: block;
    align-items: center;
    justify-content: center;
 }
 .items{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content:center;
 }
 .item{
 transform: scale(0.8);
 -webkit-transform: scale(0.8);
 -moz-transform: scale(0.8);
 -ms-transform: scale(0.8);
 -o-transform: scale(0.8);
}
 .title{
  font-size: 28px;
 }
 }